.item{
    position:relative;
    height:100%;
}

.items:nth-child(1){
    position:relative;
    height:20%;
    /* border: 1px solid black; */
    background : rgba(255, 0, 0, 0);
}

.items:nth-child(2){
    position:relative;
    height:70%;
    /* border: 1px solid black; */
    background : rgba(255, 0, 0, 0);
}
.items:nth-child(3){
    position:relative;
    height:10%;
    /* border: 1px solid black; */
    background : rgba(255, 0, 0, 0);
}
.button-box{
    width:100%;
    padding:10px;
    background: rgba(0, 0, 0, 0.3);
    text-align:end;
    color: white;

}

.vc-arrow{
    color:white;
}